
{% if site.posts.size > 0 %}
  <ul>
    {% for post in site.posts %}
      <li class="post-list-item">
        <span class="home-date">
          {{ post.date | date: site.theme_config.date_format }}»
        </span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

{% endif %}

<br>
💬 <span style="font-style:italic; font-size:14px;">Disclaimer: All views reflected are not representative of my employer. I may modify or remove content as this blog continues to grow. Thank you!</span>
